<h1>Editing it asset</h1>
<%= render "csv_update" %>
<p>=================================</p>
<%= render "form", it_asset: @it_asset %>

<br>

<div>
  <%= link_to "Show this it asset", @it_asset %> |
  <%= link_to "Back to it assets", it_assets_path %>
</div>
