<h1>Editing assets movement</h1>

<%= render "form", assets_movement: @assets_movement %>

<br>

<div>
  <%= link_to "Show this assets movement", @assets_movement %> |
  <%= link_to "Back to assets movements", assets_movements_path %>
</div>
