<h1>Editing assets owner</h1>

<%= render "form", assets_owner: @assets_owner %>

<br>

<div>
  <%= link_to "Show this assets owner", @assets_owner %> |
  <%= link_to "Back to assets owners", assets_owners_path %>
</div>
